.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.displayNone {
  display: none;
}

.treasure {
  color: red;
  margin-bottom: 10px;
}

a {
  text-decoration: none;
  color: black;
  margin-right: 20px;
}
a:hover {
  color: blue;
}

.loginOutBtn,
.loginBtn,
.registerBtn {
  background: #b4bfc1;
  border-radius: 2px;
  font-size: small;
  outline: none;
}

.loginOutBtn:hover {
  background: lightblue;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
input {
  outline: none;
  margin: 10px;
}

.roomTitle,
.roomDescription {
  margin-bottom: 20px;
}

.direction {
  margin: 10px;
  font-size: medium;
  border-radius: 2px;
  background: #b4bfc1;
  outline: none;
}
.direction:hover {
  background: rgb(97, 206, 137);
}

.errorMessage {
  margin-bottom: 15px;
}
